@import "normalize.less";

/* Fonts */
@font-face {
    font-family: 'NeutraText';
    src: url('../fonts/NeutraText-Book.woff');
    font-weight: normal;

}
@font-face {
    font-family: 'NeutraText';
    src: url('../fonts/NeutraText-Bold.woff');
    font-weight: bold;
}

@charset "UTF-8";

@font-face {
    font-family: 'vvicons';
    src:url('../fonts/vvicons.woff?-ndp7ic') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'vvicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.icon-home:before {
    content: "\e603";
}
.icon-camera:before {
    content: "\e600";
}
.icon-glass:before {
    content: "\e601";
}
.icon-heart:before {
    content: "\e602";
}
.icon-me:before {
    content: "\e604";
}
.icon-tag:before {
    content: "\e605";
}

/* Stylesheet content lists
===================================================
1. Body, p, h1-h3, other globals
2. Heading, nav
3. Block headings, block styles
4. Right menu
5. Footer
I. Responsive grid @ media queries
II. All other media queries

=================================================*/

/*-------------------------------------------------
1. Body, p, h1-h3, other globals
-------------------------------------------------*/
@mainRed: #ef4549;
@mainRedDark: #d91639;
@mainFontColor: #565757; //almost black
@mainLineColor: #ccc;

body {
    background-color: #fff;
    font-family: 'NeutraText', Helvetica, Arial;
    font-size: 15px;
    color: #565757;
}
p {
    font-family: 'NeutraText', Helvetica, Arial;
    font-size: 15px;
    line-height: 130%;
}
h1, h2 {
    font-family: 'NeutraText', Helvetica, Arial;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-family: 'NeutraText', Helvetica, Arial;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: @mainRedDark;
}
a:visited {
    text-decoration: none;
    color: @mainRedDark;
}
a:hover {
    text-decoration: none;
    color: @mainRed;
}
div, span {
    box-sizing: border-box;
}
.globalWrapper {
    max-width: 768px;
    margin: auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.vaDiv {
    height: 100%;
    width: 0px;
    display: inline-block;
    vertical-align: middle;
}

/* all the full width elements never go below 320px */
footer, .globalWrapper, .spanAll {
    min-width: 320px;
}

.spanAll {
    width: 100%;
}
/*-------------------------------------------------
2. Header, nav
-------------------------------------------------*/

@navBarHeight: 70px;
@navBarFont: #fff;
@navBarFontHover: @mainRedDark;
@navBarColor: #fff;
@navBtnDark: #fff;
@navBtnLight: #ccc ; /* used for navbar border-bottom colour */

/* main red: #ef4549
*/

.navWrapper {
    height: @navBarHeight;
    position: fixed;
    z-index: 999;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
    #opacBar {
        height: @navBarHeight;
        width: 100%;
        background-color: #ef4549;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        position: absolute;
    }
    #navBar {
        height: 100%;
        color: #000;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        padding: 0px 15px;
        position: relative;
    }
    #logoCont {
        float: left;
        height: 100%;
        overflow: hidden;
        width: 272px;
        @media (min-width: 0px) and (max-width: 480px) {
            max-width: 66px;
        }   
    }
        #logoInner {
            height: 100%;
            width: 300px;
        }
        #logo {
            height: 44px;
            vertical-align: middle;
        }

    #navNormal {
        float: right;
        height: 100%;
        text-align: center; 
        display: inline-block;

    }
    .navButtons {
        display: inline-block;
        color: @navBarFont;
        font-family: 'NeutraText', Helvetica, Arial;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        vertical-align: middle;
        width: 30px;
        padding: 5px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        @media (min-width: 0px) and (max-width: 480px) {
            margin: 0px 10px 0px 0px;
        } 
        @media (min-width: 481px) and (max-width: 767px) {
            margin: 0px;
        }
        @media (min-width: 768px){
            margin: 0px 20px 0px 0px;
        }
    }
    .navButtons [class^="icon-"], [class*=" icon-"] {
        @media (min-width: 0px) and (max-width: 480px) {
            font-size: 28px;
        } 
        @media (min-width: 481px) {
            font-size: 20px;
        }
    }
    .navButtons span {
        position: relative;
        top: 3px;
        font-size: 8px;
        @media (min-width: 0px) and (max-width: 480px) {
            display: none;
        } 
        @media (min-width: 481px) {
            display: inline;
        }
    }

    .navButtons:hover {
        /* background-color: #B93337; */
        color: @navBarFontHover;
        cursor: pointer;
    }
    .navActive {
        color: @mainRedDark!important;
        cursor: default !important;
    }
    .navSelected:hover{
        color: @mainRedDark!important;
        cursor: default !important;
    }

.headerCompensate {
    padding-top: @navBarHeight;
}
#main {
    margin:auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

/*-------------------------------------------------
3. Block headings, blocks styles.
-------------------------------------------------*/
.mainColBlock {
    padding-top: 1px; /*padding hack for #main to be full height */
    margin: auto;
    max-width: 540px;

}

.mainColBlock article {
    background-color: #fff;
    margin: 10px auto 10px auto;
    border-top: 1px solid #e0e0e0;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.31);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.31);
    -o-box-shadow: 0 1px 1px rgba(0,0,0,0.31);
    box-shadow: 0 1px 1px rgba(0,0,0,0.31);
}
.mainColBlock article:after {
    content: "";
    display: table;
    clear: both;
}


/* generic block elements */
.blockTitle {
    text-align: center;
    color: #000;
}
.blockTitle h1 {
    font-family: 'NeutraText', Helvetica, Arial;
    font-size: 30px;
}

.blockImgHolder img {
    width: 100%;
    max-width: 100%;
}




.blockPad {
    padding: 8px 0px;
}
/* too allow "padding" but elements to span full width */
.blockPad>* {
    padding-left: 8px;
    padding-right: 8px;
}


.blockMainInfo {
    border-bottom: 1px solid @mainLineColor;
}
    /* block top */
    .blockProfileThumb {
        display: inline-block;
        vertical-align: middle;
    }
        .blockProfileThumb img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
        }
    .blockUserHolder {
        display: inline-block;
        vertical-align: middle;
    } 
        .blockUsername { 
            font-family: 'NeutraText', Helvetica, Arial;
            font-weight: bold;
            font-size: 15px;
        }
        .blockTimelapse {
            font-family: 'NeutraText', Helvetica, Arial;
            font-size: 13px;
            color: #ccc;
        }

    .blockInteract {
        float: right;
        display: inline-block;
        text-transform: uppercase;
        font-size: 15px;
    }
        .mainColBlock .likeButton, .mainColBlock .moreInfo {
            display: inline-block;
            vertical-align: middle;
            padding: 10px;
            cursor: pointer;
        }
        .likeButton:hover, .moreInfo:hover {
            color: #ccc;
        }
        .likeButton[data-action="unlike"] {
            color: @mainRedDark;
        }
        .moreInfo.active {
            color: @mainRedDark;
        }

    .blockLikeText {
        text-align: center;
        color: #ccc;
        font-size: 14px;
    }

    .blockTextHolder {
        padding: 20px 10px;
        line-height: 130%;
    }


    .blockLoadMoreCommentsCont {
        width: 100%;
        text-align: right;
        text-transform: uppercase;
        font-size: 13px;
    }
        .blockLoadMoreCommentsCont>div {
            display: inline-block;
        }
        .blockLoadMoreCommentsWrap {
            text-align: center;
            position: relative;
            top: 4px;
        }
            .blockLoadMoreCommentsCount {
                font-weight: bold;
                position: absolute;
                margin-top: 10px;
                height: 25px;
                width: 30px;
                color: #fff;
            }
            .blockLoadMoreCommentsLogo {
                height: 25px;
                width: 30px;
            }
                .blockLoadMoreCommentsLogo img {
                    width: 100%;
                }

    .postCommentCont {
        margin-top: 10px
    } 
    .postCommentWrap {
        min-height: 45px;
    }               
        .profileThumb {
            width: 40px;
            border-radius: 20px;
            position: absolute;
        }
        .postComment {
            padding-left: 52px;
            min-height: 45px;
            line-height: 130%;
            margin-bottom: 10px;
        }
            .commentTimeStamp {
                font-family: 'NeutraText', Helvetica, Arial;
                font-size: 13px;
                color: #ccc;
                vertical-align: middle;
            }

    .postInteractions {
        text-align: right;
    }
        .postInteractions textarea {
            width: 100%;
            text-align: left;
            min-height: 50px;
            padding-right: 60px;
        }
        .postInteractions .sendComment {
            margin-top: -49px;
            position: relative;
        }

/* leftCol specifics */
.leftColBlock {
}

.mainColBlock {
}

/*-------------------------------------------------
5. footer
-------------------------------------------------*/
#footer {
    text-align:center;
}


/*-------------------------------------------------
II. Form styling
-------------------------------------------------*/

textarea:focus, input:focus{
    outline: 0;
}

input[type="text"], input[type="password"], button, textarea {
    border: 1px solid @mainRed;
    background: #fff;
    color: #565757;
    padding: 8px;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px 8px 8px 8px;
    height: 34px;
}
input, button {
    text-align:center;
}
button {
    text-transform: uppercase;
}

button.light {

}

button.darkButton {
    border: 1px solid @mainRedDark;
    background: @mainRed;
    color: #fff;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
button.darkButton:hover {
    background: @mainRedDark;
}
button.darkerButton {
    border: 1px solid @mainRedDark;
    background: @mainRedDark;
    color: #fff;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}
button.darkerButton:hover {
    background: @mainRed;
}
